node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# acrescentadas
.expo-shared/
.vscode/
assets/

app.json
babel.config.js
tsconfig.json
yarn.lock